/* highlight unsaved / dirty rows */
.ag-theme-alpine .unsaved-row {
  background-color: yellow !important; /* light yellow */
}

.low-stock-cell {
  background-color: #fdecea;   /* light red */
  color: #8b0000;              /* dark red */
  font-weight: bold;
}

